<%- include('partials/header') -%>
<h1>Home</h1>
<p><%= para1 %></p>

<% send1.forEach(function(post){ %>
<h1><%= post.Title %></h1>
<p>
    <%= post.Post.substring(0,100)+"..." %>
    <a href="/posts/<%=post.Title%>">Read More</a>
</p>
<% }) %>
<%- include('partials/footer') -%>